.classpath
*.sublime-*
metastore_db/
*~
.cache
.idea
.idea_modules/
.project
.settings/
*.iml
*.stackdump
project/target/
target/
.DS_Store
package
*.log
*.retry
.ensime
.ensime_cache/
.bloop/
.metals/
schemas/**
metastore_db/**
spark-warehouse/**
*.retry
framework/metastore_db/**
pipeline/spark-warehouse/**
/.venv/
spark-warehouse/
__pycache__/
.Rproj.user
.vscode/
